* {
  box-sizing: border-box;
}
body {
  color: #c2cddb;
}
.container {
  max-width: 100%;
}
.center {
  margin: auto;
}
.logo,
.menu ul,
.power {
  width: fit-content;
}
.menu ul {
  list-style-type: none;
}
.menu li a {
  color: #c2cddb;
}
.menu li:hover {
  color: #00aeff;
  border-left: 8px solid #00aeff;
}
.menu li a:hover,
.form a:hover {
  color: #00aeff;
  text-decoration: none;
}
.menu li img:hover {
  color: #00aeff;
}
.menu .board {
  color: #c2cddb;
}
.main-bar {
  background-color: #e5e5e5;
}
.form,
.para-two {
  float: right;
}
.form a {
  background-color: white;
}
input {
  font-size: 10px;
  border: 1px solid #c2cddb;
  padding: 5px 50px 5px 5px;
}
.intern {
  max-width: 30%;
  border: 1px solid white;
  background-color: white;
  margin: auto;
}
.name {
  color: black;
}
hr {
  width: 80%;
}
.medal {
  float: right;
}
.material-icons {
  font-size: 120px;
}
.number {
  color: #00aeff;
  font-size: 18px;
  line-height: 21px;
}

.table-font {
  font-size: 16px;
  padding: 10px !important;
}

#con-column {
  position: absolute;
  width: 1100px;
  height: 441px;
  margin-left: 120px;
  background: #ffffff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.my-title {
  width: 96px;
  height: 21px;
  left: 1197px;
  top: 588px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #c2cddb;
}

.my-points {
  width: 32px;
  height: 21px;
  left: 1197px;
  top: 650px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #00aeff;
}

.my-details {
  width: 70px;
  height: 21px;
  left: 766px;
  top: 712px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #000000;
}

.interns-leader {
  width: 328px;
  height: 42px;
  left: 372px;
  top: 474px;
  padding-top: 100px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #c2cddb;
}

.col-bar {
  background-color: #e5e5e5;
}
